# Getting your master list
    - From a set of zip codes

At the end of any request, must call `time.sleep(2)` or you'll be timed out, or the next_page_token won't yet be active in the case of one.

---

`pygsheets`

In [1]:
import pygsheets
import pandas as pd
import json
import csv
# from google.oauth2 import service_account

In [4]:
# with open('service_account.json') as source:
#     info = json.load(source)
# credentials = service_account.Credentials.from_service_account_info(info)

In [2]:
client = pygsheets.authorize(service_account_file='service_account.json')

In [3]:
# open the sheet
sheet = client.open('test_sheet')

In [4]:
wks = sheet.worksheet_by_title('Sheet1')
wks

#### How to Upload Data to a Google Sheet from a Pandas DF

In [5]:
import pandas as pd
df = pd.DataFrame({'place_id':[44324,25425,56332,65623],
                   'name':['Coffee Monster', 'Coffee Factory', 'Cafe Grumpy - Manhattan West', 'Coffee Addiction'], 
                   'address':['123 Fake Street, New York, NY 10022', 
                              '622 Avenue R, New York, NY, 10044',
                              'inside Whole Foods Market, 450 W 33rd St, New York, NY 10001, United States',
                              '-23 Waffle House Way, New York, NY 10033']})
df

,place_id,name,address
0,44324,Coffee Monster,"123 Fake Street, New York, NY 10022"
1,25425,Coffee Factory,"622 Avenue R, New York, NY, 10044"
2,56332,Cafe Grumpy - Manhattan West,"inside Whole Foods Market, 450 W 33rd St, New ..."
3,65623,Coffee Addiction,"-23 Waffle House Way, New York, NY 10033"

## HERE IT IS

In [6]:
# find the row to append at
cells = wks.get_all_values(include_tailing_empty_rows=False, include_tailing_empty=False, returnas='matrix')
# add more rows (I thought extend=True in the next line does this, but I guess not)
wks.insert_rows(len(cells), number=len(df), inherit=True)
# append dataframe data
wks.set_dataframe(df, start=(len(cells)+1,1), copy_head=False, extend=True)

`extend=True` should add more rows. Except it doesn't. Fix this problem or just start with a sheet with more rows than you'll need (sloppy)

In [ ]:
zips = sheet.worksheet_by_title('Sheet3')

In [ ]:
zips.get_col(1, include_tailing_empty=False)[1:]

Use Pandas to keep the last 4 parts of the address

In [3]:
df

,name,address
0,Coffee Monster,"123 Fake Street, New York, NY 10022"
1,Coffee Factory,"622 Avenue R, New York, NY, 10044"
2,Cafe Grumpy - Manhattan West,"inside Whole Foods Market, 450 W 33rd St, New ..."
3,Coffee Addiction,"-23 Waffle House Way, New York, NY 10033"

We need to keep the last 4 elements of each address.
We also need to toss zip codes that are not in the search.

In [ ]:
df.

In [4]:
addr = 'inside Whole Foods Market, 450 W 33rd St, New York, NY 10001, United States'

In [13]:
(', ').join(addr.split(', ')[-4:])

'450 W 33rd St, New York, NY 10001, United States'

In [17]:
df.address = df['address'].apply(lambda x: (', ').join(x.split(', ')[-4:]))
df

,name,address
0,Coffee Monster,"123 Fake Street, New York, NY 10022"
1,Coffee Factory,"622 Avenue R, New York, NY, 10044"
2,Cafe Grumpy - Manhattan West,"450 W 33rd St, New York, NY 10001, United States"
3,Coffee Addiction,"-23 Waffle House Way, New York, NY 10033"

In [18]:
npt = 'b'

In [20]:
npt != 0

True