In [ ]:
# https://dataindependent.com/pandas/pandas-iterate-over-rows-5-methods/

In [ ]:
# Here are 5 methods to iterate over rows-- from most to least recommended:

# -DataFrame.apply()
# -DataFrame.iterrows()
# -DataFrame.itertuples()
# -Concert to DataFrame to Dictionary
# -DataFrame.iloc

# Operation - Go through each one of my DataFrame's rows and do something with the data
# Warning - Iterating thry Pandas objects is slow and in many cases iterating
#           manually is not needed.

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame([('Foreign Cinema', 'Restaurant', 289.0),
                   ('Liho Liho', 'Restaurant', 224.0),
                   ('500 Club', 'bar', 80.5),
                   ('The Square', 'bar', 25.30),
                   ('The Lighthouse', 'bar', 15.30),
                   ("Al's Place", 'Restaurant', 456.53)],
           columns=('Name', 'Type', 'AvgBill')
                 )
df

             Name        Type  AvgBill
0  Foreign Cinema  Restaurant   289.00
1       Liho Liho  Restaurant   224.00
2        500 Club         bar    80.50
3      The Square         bar    25.30
4  The Lighthouse         bar    15.30
5      Al's Place  Restaurant   456.53

In [11]:
# DataFrame.apply()
#     If you're gonna iterate at all, this is the recommendation.
#     Applies a function along a specific axis (rows/cols) of a DataFrame.

df.apply(lambda x: print(f"{x['Name']} - {x['AvgBill']}"), axis = 1)

Foreign Cinema - 289.0
Liho Liho - 224.0
500 Club - 80.5
The Square - 25.3
The Lighthouse - 15.3
Al's Place - 456.53

0    None
1    None
2    None
3    None
4    None
5    None
dtype: object

In [14]:
# DataFrame.iterrows()
# This function iterates over the rows and returns 1. The index of the row
# and 2. an object containing the row itself. 

for index, contents in df.iterrows():
    print(f"Index: {index}")
    print(f"{contents['Name']} - {contents['AvgBill']}")
    print()

Index: 0
Foreign Cinema - 289.0

Index: 1
Liho Liho - 224.0

Index: 2
500 Club - 80.5

Index: 3
The Square - 25.3

Index: 4
The Lighthouse - 15.3

Index: 5
Al's Place - 456.53

In [16]:
# DataFrame.itertuples()
# Returns "named tuples"-- a data type from Pythons Collections module. 
#    Acts like a tuple, but you can look it up by name.

for row in df.itertuples():
    print(row)
    print(row.Name)
    print()

Pandas(Index=0, Name='Foreign Cinema', Type='Restaurant', AvgBill=289.0)
Foreign Cinema

Pandas(Index=1, Name='Liho Liho', Type='Restaurant', AvgBill=224.0)
Liho Liho

Pandas(Index=2, Name='500 Club', Type='bar', AvgBill=80.5)
500 Club

Pandas(Index=3, Name='The Square', Type='bar', AvgBill=25.3)
The Square

Pandas(Index=4, Name='The Lighthouse', Type='bar', AvgBill=15.3)
The Lighthouse

Pandas(Index=5, Name="Al's Place", Type='Restaurant', AvgBill=456.53)
Al's Place

In [18]:
# Convert your DF to a Dictionary
# If you need to work with a dictionary. You lose pandas functionality.

df_dict = df.to_dict(orient='index')
df_dict

{0: {'Name': 'Foreign Cinema', 'Type': 'Restaurant', 'AvgBill': 289.0},
 1: {'Name': 'Liho Liho', 'Type': 'Restaurant', 'AvgBill': 224.0},
 2: {'Name': '500 Club', 'Type': 'bar', 'AvgBill': 80.5},
 3: {'Name': 'The Square', 'Type': 'bar', 'AvgBill': 25.3},
 4: {'Name': 'The Lighthouse', 'Type': 'bar', 'AvgBill': 15.3},
 5: {'Name': "Al's Place", 'Type': 'Restaurant', 'AvgBill': 456.53}}

In [19]:
for key in df_dict:
    print(key)
    print(df_dict[key])
    print(df_dict[key]['Name'])

0
{'Name': 'Foreign Cinema', 'Type': 'Restaurant', 'AvgBill': 289.0}
Foreign Cinema
1
{'Name': 'Liho Liho', 'Type': 'Restaurant', 'AvgBill': 224.0}
Liho Liho
2
{'Name': '500 Club', 'Type': 'bar', 'AvgBill': 80.5}
500 Club
3
{'Name': 'The Square', 'Type': 'bar', 'AvgBill': 25.3}
The Square
4
{'Name': 'The Lighthouse', 'Type': 'bar', 'AvgBill': 15.3}
The Lighthouse
5
{'Name': "Al's Place", 'Type': 'Restaurant', 'AvgBill': 456.53}
Al's Place

In [21]:
# DataFrame.iloc[]
# Slow. Unless you're working with a tiny dataset, try to avoid and use any of the 
# above.

for i in range (len(df)):
    print(df.iloc[i])
    print()
    print(f"Name {df.iloc[i]['Name']}")
    print("\n")

Name       Foreign Cinema
Type           Restaurant
AvgBill             289.0
Name: 0, dtype: object

Name Foreign Cinema


Name        Liho Liho
Type       Restaurant
AvgBill         224.0
Name: 1, dtype: object

Name Liho Liho


Name       500 Club
Type            bar
AvgBill        80.5
Name: 2, dtype: object

Name 500 Club


Name       The Square
Type              bar
AvgBill          25.3
Name: 3, dtype: object

Name The Square


Name       The Lighthouse
Type                  bar
AvgBill              15.3
Name: 4, dtype: object

Name The Lighthouse


Name       Al's Place
Type       Restaurant
AvgBill        456.53
Name: 5, dtype: object

Name Al's Place